:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  background-color: #020314;
   

 
}

